[submodule ".emacs.d/site-lisp/jslint-reporter"]
	path = .emacs.d/site-lisp/jslint-reporter
	url = https://github.com/FND/jslint-reporter.git
[submodule ".emacs.d/site-lisp/slime"]
	path = .emacs.d/site-lisp/slime
	url = https://github.com/antifuchs/slime.git
[submodule ".emacs.d/site-lisp/swank-js"]
	path = .emacs.d/site-lisp/swank-js
	url = https://github.com/swank-js/swank-js.git
[submodule ".emacs.d/site-lisp/highlight-indentation"]
	path = .emacs.d/site-lisp/highlight-indentation
	url = https://github.com/antonj/Highlight-Indentation-for-Emacs.git
